@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/typography' as *;

.model-card {
  display: flex;
  width: 270.667px;
  padding: var(--spacing-2xl) var(--spacing-none) var(--spacing-base) var(--spacing-none);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: var(--radius-fixed);
  border-bottom: var(--stroke-thin) solid var(--color-generic-neutral-ultra-light-border);
  background: var(--color-overlay-light-alpha-80);
  background-blend-mode: hard-light;
  box-shadow: var(--alevation-botton);

  @media (max-width:$bp-mobile) {
    display: flex;
    width: 163.5px;
    padding: var(--spacing-lg) var(--spacing-none) var(--spacing-xs) var(--spacing-none);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2xs);
    aspect-ratio: 1/1;
  }

  /*
  &:focus-visible {
    outline: 3px solid var(--color-generic-focus-border);
    outline-offset: 3px;
  }
  */
}

.model-card__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  aspect-ratio: 16/9;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.model-card__content {
  display: flex;
  padding: var(--spacing-2xl) var(--spacing-none) var(--spacing-base) var(--spacing-none);
  @media (max-width:$bp-mobile) {
    padding: 0px;
  }
}

.model-card__title {
  color: var(--color-generic-neutral-ultra-dark-text);
  text-align: center;

  @include typography-h4;
  font-weight: 700;
}