$breakpoint: 600px;

.style-selector-skeleton {
  min-height: 100vh;
  background:
    linear-gradient(
      180deg,
      var(--color-overlay-light-alpha-0, rgba(255, 255, 255, 0.00))
      87.07%,
      var(--color-generic-neutral-dark-background, #818181) 100%),
      url(<path-to-image>)
      lightgray -49.465px -9px / 126.381% 100.956% no-repeat;


  &__elements {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (max-width: $breakpoint) {
      margin: 0 16px;
    }
  }
}