
@use '../../../shared/styles/variables' as *;

// ── Header ────────────────────────────────────────────────────────────────────
.header {
  display: flex;
  align-items: center;
  margin: 0 1.25rem;

  @media (max-width: $bp-mobile) {
    justify-content: space-between;
    height: 3.25rem;
    margin-bottom: 0.5rem;
    align-items: center;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8.75rem;
  height: 5rem;
  aspect-ratio: 8.75/0.953;

  & .yr-skeleton {
    display: block;
    height: 0.953rem;
    width: inherit;
  }

  &__icon:not(.yr-skeleton) {
    background-image: var(--ss-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 0.953rem;
  }
}

.header-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 5rem;

  // Oculto en mobile
  @media (max-width: $bp-mobile) {
    display: none;
  }

  &-items {
    display: flex;
  }
}

.header-nav-items {
  background-color: transparent;
}

.header-nav-item {
  white-space: nowrap;
  padding: var(--spacing-none) var(--spacing-2xl) var(--spacing-base) var(--spacing-2xl);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-none);
  flex: 1 0 0;
  border-bottom: var(--stroke-heavy) solid var(--color-stepper-brand-default-border);

  color: var(--color-stepper-brand-default-title);
  text-align: center;

  font-family: var(--typography-h5-family, 'Inter');
  font-size: var(--typography-h5-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-h5-line-height);
  letter-spacing: var(--typography-h5-letter-spacing);

  &__skeleton {
    margin: 0.5rem;
    height: 2rem;
    width: 7rem;
  }

  &__selected {
    color: var(--color-stepper-brand-active-title);
    border-bottom: var(--stroke-heavy) solid var(--color-stepper-brand-active-border);
  }
}

.header-switch {
  display: flex;
}

.header-menu {
  display: flex;
  height: 5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;

  @media (max-width: $bp-mobile) {
    height: 3.25rem;
  }

  &__icon {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
  }

  &__icon:not(.yr-skeleton) {
    background-image: var(--ss-menu-icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.yr-skeleton {
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
  }
}