@use '../../../shared/styles/typography' as *;

.yr-button {
  display: flex;
  padding: var(--spacings-md) var(--spacings-base);
  justify-content: center;
  align-items: center;
  gap: var(--spacings-md);

  border-radius: var(--radius-default);
  background: var(--color-generic-neutral-ultra-light-background);
  border: 0.125rem solid var(--color-generic-neutral-medium-border);
  width: max-content;

  &__selected {
    border: 0.125rem solid var(--color-generic-focus-border);
    background: var(--color-generic-neutral-ultra-light-background);
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.yr-skeleton {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__label {
    color: var(--color-generic-neutral-ultra-dark-text);
    text-align: center;

    @include typography-body-sm;
    font-weight: 400;
    text-transform: capitalize;

    &.yr-skeleton {
      height: 1.375rem;
      width: 1.875rem;
    }
  }
}