@mixin dark-vars {
  --skeleton-base: #3a3a3a;
  --skeleton-highlight: #555;
}

:root {
  --skeleton-base: #eee;
  --skeleton-highlight: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include dark-vars;
  }
}

:root[data-theme='dark'] {
  @include dark-vars;
}

/* =========================
   SKELETON LOADING
========================= */
.yr-skeleton {
  background: linear-gradient(90deg, var(--skeleton-base) 25%, var(--skeleton-highlight) 50%, var(--skeleton-base) 75%);
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite;
  color: transparent;
  border-radius: 4px / 6.7px;
  border-bottom: none;
}

@keyframes shimmer {
  from {
    background-position: -200% 0;
  }

  to {
    background-position: 200% 0;
  }
}
