@use '../../styles/shared' as *;

.card {
  margin: 0 auto;
  display: flex;
  padding: var(--spacing-base);
  align-items: flex-start;
  gap: var(--spacing-base);
  align-self: stretch;
  justify-self: stretch;
  width: 27.625rem;

  border-radius: var(--radius-fixed);
  border-bottom: var(--stroke-thin) solid var(--color-generic-neutral-ultra-light-border);
  background: var(--color-overlay-light-alpha-80);
  background-blend-mode: hard-light;
  box-shadow: var(--alevation-botton);

  /*
  &:focus-visible {
    //TODO
    //outline: var(--stroke-heavy) solid var(--color-generic-focus-border);
    //outline-offset: 3px;
  }
  */

  @media (max-width:  $bp-mobile) {
    width: 100%;
  }

  & .card-content {
    flex: 1;

    & .card-title {
      color: var(--color-generic-neutral-ultra-dark-text);
      @include typography-body-base;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;

      &.yr-skeleton {
        display: block;
        height: 1.25rem;
        width: 6.25rem;
      }
    }
  }
  & .card-image-wrapper {
    flex-shrink: 0;
  }
}


.card-image {
  display: flex;
  width: 10.5rem;
  height: 6.75rem;
  padding: var(--spacing-base);
  align-items: flex-start;
  gap: var(--spacing-base);
  align-self: stretch;
  flex-direction: column;
  aspect-ratio: 16/9;
  border-radius: var(--radius-fixed);
  box-shadow: var(--alevation-botton);
}

.card-image:not(.card-image__skeleton) {
  border-bottom: var(--stroke-thin) solid var(--color-generic-neutral-ultra-light-border);
  background: var(--color-overlay-light-alpha-80);
  background-blend-mode: hard-light;
}